body{
    transition: font-size 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    font-size: 16px;
    background-color: #ffffff;
    color: #000000;
}

.large-font {
    font-size: 22px;
}

.invert-colors{
    background-color: #000000;
    color: #ffffff;
}
.navbar-nav {
    margin-left: auto;
}
.navbar-nav, navbar-toggler {
    margin-right: 10px;
}
.navbar-collapse {
    display: flex;
    align-items: center;
}
.separador {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}
.relleno {
    text-align: justify;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
} 
/* Footer styling */
.footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
  }
  /* styles.css */

/* Precios de Oferta */
.card-price {
    font-size: 1.125rem;
    color: #333;
    font-weight: bold;
}

.card-price del {
    color: #888;
    margin-right: 0.5rem;
}

.card-price span {
    font-size: 1.25rem;
    font-weight: bold;
}
